.book-details__details-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
}

.book-details__details-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  flex-grow: 0;
  flex-direction: row;
  flex-wrap: wrap;
}