.main {
  width: 100%;
  height:100%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.main__book-list {
  flex: 1 0 auto;
  padding: 10px;
}

.main__book-information {
  flex: 0 1 50%;
  max-width: 50%;
  border-left:1px solid black;
  padding: 10px;
  flex-wrap: wrap;
}